@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Fix Leaflet overlapping modals === */
.leaflet-pane,
.leaflet-top,
.leaflet-bottom,
.leaflet-control {
  z-index: 10 !important;
}

/* Hide scrollbar but keep scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
